{% extends "base.html" %}

{% load i18n static %}


{% block css %}
<style>
    .page__titleuz h3 {
        text-transform: uppercase;
        font-size: 30px;
        color: #000000;
        text-align: center;
        padding-bottom: 59px;
        margin: 46px 0 0;
    }

    .page__titleuz .card:hover {
        box-shadow: 0 5px 20px 0 rgb(0 0 0 / 25%);
    }

    .page__titleuz .card {
        transition: all .5s;
        margin-bottom: 25px;
        box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
        border: 0;
    }

    .rtecenter {
        font-size: 20px;
        text-align: left;
        font-weight: 400;
        line-height: 39px;
    }

    .rtecenter a {
        text-decoration: none;
        transition: all .5s;
    }
</style>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row page__titleuz">
        <div class="col-md-12">
            <h3>{% trans 'МЕЪЁРИЙ-ҲУҚУҚИЙ ҲУЖЖАТЛАР РЎЙХАТИ' %}</h3>
        </div>

        <div class="col-md-12">

            {% for link in links %}
                <div class="card">
                    <div class="card-body">
                        <h2 class="rtecenter">
                            <a href="{% url 'blogs:foreighn_representation_items' slug=link.slug %}">{{link.title}}</a>
                        </h2>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock content %}